.ZCard_body {
    width: 30vw;
    height: 30vh;
    background-color: #ffffff;
    // border:1px solid brown;  
    border-radius: 20px;
}
.ZCard_title{
    font-size: larger;
    height: 3vh;
    line-height: 6vh;
    padding-left:1vw;
} 
.ZCard_content{
    padding-left:1vw;
}